* {
    padding: 0;
    margin: 0;
  }
  
  /* body */
  body {
    background-color: gainsboro;
  
   
  }
  
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: gainsboro;
  border-bottom: 1px solid gray;
}

.logo img {
  width: 30%;
}

.list {
  display: flex;
  gap: 70px;
  list-style: none; /* Hapus properti ini dari li */
}

.list a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.list a:hover {
  color: blue;
}

  
  /* Main */
  
  
  /* konten 1 */
  .content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
  }
  
  .image img {
    padding-left: 50px;
    
  }
  
  
  .captions h1{
    font-size: 65px;
  }
  
  .captions p {
    font-size: 20px;
    padding-bottom: 50px;
    padding-top: 30px;
  }
  
  .buy {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    background-color: rgb(34, 34, 57);
    border-radius: 5px;
  }
  
  .buy:hover{
    background-color: rgb(97, 97, 148);
  }
  
  .see {
    text-decoration: underline;
    color: black;
    padding-left: 40px;
  }
  
  .see:hover {
    color: rgb(20, 20, 188);
  }
  
  
  /* konten 2 */
  .content2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
  
  }
  
  .card1 {
    padding-right: 150px;
    padding-left: 150px;
  }
  
  .card2 {
    padding-right: 150px;
    padding-left: 150px;
  }
  
  .card1 img {
    width: 30%;
  }
  
  .card2 img {
    width: 30%;
  }
  
  .card1 h3{
    font-size: 30px;
    padding: 20px;
  }
  
  .card2 h3{
    font-size: 30px;
    padding: 20px;
  }
  
  .card1 p {
    font-size: 20px;
  }
  
  .card2 p {
    font-size: 20px;
  }
  
  
  /* konten 3 */
  .content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px ;
  }
  
  .keyboard {
    padding-right: 50px;
    padding-left: 100px;
  }
  .text {
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .text h1 {
    font-size: 50px;
  }
  
  .text p {
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 20px;
  }
  
  .text a {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    background-color: rgb(34, 34, 57);
    border-radius: 5px;
  }
  
  .text a:hover {
    background-color: rgb(97, 97, 148);
  }
  
  /* kontent 4 */
  .input1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    padding-left: 180px;
    padding-bottom: 70px;
  }
  
  .rows {
    display: flex;
    gap: 30px;
  }
  
  label {
    font-size: 20px;
  }
  
  .input{
    width: 500px;
    height: 70px;
  }
  
  .pilih {
    padding-bottom: 60px;
  }
  
  .pesan {
    width: 1030px;
    height: 140px;
  }
  
  /* kontent 5 */
  .checkbox {
    padding: 100px;
  }

  /* CSS untuk tombol Submit */
input[type="submit"] {
  background-color: grey; /* Warna latar belakang */
  color: #fff; /* Warna teks */
  padding: 10px 20px; /* Ruang bantal (padding) untuk teks tombol */
  border: none; /* Menghilangkan border */
  border-radius: 5px; /* Membuat sudut elemen sedikit melengkung */
  cursor: pointer; /* Mengubah kursor menjadi tangan saat mengarahkan tombol */
  font-size: 16px; /* Ukuran teks */
}

/* CSS untuk tombol Submit saat dihover */
input[type="submit"]:hover {
  background-color: grey; /* Warna latar belakang saat dihover */
}

  
  /* footer */
  footer {
    background-color: rgb(80, 80, 109);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
  }
  
  .sosmed {
    margin-left: 500px;
    margin-right: 500px;
  }
  .sosmed ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
  }
  
  .sosmed img{
    width: 40%;
    
  }
  
  .about {
    display: flex;
    justify-content: center;
    gap: 400px;
  }
  
  .about ul {
  text-align: left;
  }
  
  .about li {
    list-style: none;
    font-size: 17px;
    color: white;
  }
  
  .about a {
  text-decoration: none;
  color: white;
  }
  
  .about a:hover {
    color: rgb(0, 0, 0);
  }